button {
    border: none;
    background-color: #f32066;
    font-size: 24px;
    color: rgb(184, 185, 237);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(234, 23, 87);
}

.equals {
    grid-column: 3 / 5;
    background-color: rgb(235, 20, 125);
}

.equals:hover {
    background-color: rgb(220, 10, 115);
}